<% unless comment.archived? %>
    <div class="container comment rounded">
        <div>
            <strong>commenter:</strong>
            <%= comment.commenter %>
        </div>

            <hr class="w-50 my-1 text-black " >
        <div class="sharh rounded">
            <em><%= comment.body %></em>
        </div>
        <div class="d-flex justify-content-end">
            <%= link_to "Delete", [ comment.article, comment ], data: {
                turbo_method: :delete,
                                        turbo_confirm: "Are you sure?"
            }, class: "btn btn-outline-danger py-1 " %>
        </div>
    </div>
    <hr>
<% end %>