<div class="container my-5 p-5 bg-light rounded">
    <div class="container d-flex justify-content-between align-items-center">
        <h1>Articles</h1>
        <%= link_to "New Article", new_article_path, class: "btn btn-outline-secondary" %>
    </div>
    <div class="row">
        <% @articles.each do |article|%>
            <div class="col-4  ">
                <div class="container cardcha mb-4 pb-5  rounded">
                    <h3> <%= article.title%> </h3>  
                    <p><%= article.body%></p>
                    <%= link_to "view", article, class: 'btn btn-outline-primary py-1 px-3 float-end'%>
                </div>
            </div>
        <% end %>
    </div>
</div>

<style>
    .cardcha{
        background: linear-gradient(to right bottom, lightgray, lightblue );
        box-shadow: 1px 1px 6px black;
    }
</style>


