<div class="container cover my-4 rounded p-3 bg-light">
    <h1>Articles</h1>

    <div class="row">
        <% @articles.each do |article|%>
            <div class="col-4">
                <div class="container  rounded my-2 p-3 cardcha">
                    <h2><%= article.title%></h2>
                    <p><%= article.body%></p>
                    
                    <div class="container d-flex justify-content-end">
                        <%= link_to "View", article, class: "btn btn-outline-primary py-1"%>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
    
</div>

<style>
    .cover, .cardcha{
        box-shadow: 1px 1px 5px black;
    }
    .cardcha{
        box-shadow: 1px 1px 5px #222;
        background: linear-gradient(to right bottom, lightgray, lightblue)
    }
    p{
        font-size: 20px;
    }
</style>