<div class="container my-5 p-5 bg-light rounded ">
    <h1><%= @article.title %></h1>

    <p><%= @article.body %></p>
    <%= link_to "Back-to-Articles", root_path, class: "btn btn-outline-primary"%> 
</div>